<!-- your html code here -->
 
<section class="bg-light text-ligth p-1 text-align">
  <div class="container">
    <div class="d-sm-flex my-5">
      <div>
        <h1>This First Heading <span class="text-secondary">Will Catch Your Eye</span></h1>
        <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit Odio magni numquam neque expedita corporis eaque aliquam sapiente dolorem nisi corrupti blanditiis quae, ducimus vero velit placeat doloribus repellat accusamus doloremque.

        </p>
      </div>
      <img src="/website/assets/img/1.jpg" class="rounded-circle my-3" style="width: 370px;" alt="">
    </div>
  </div>
</section>